{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/investimento.css') }}">
{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}
<div class="container">
    <h1>Investimento</h1>
    <!-- Seção de saldo e investimento -->
    <div class="balance-info">
        <p><strong>Saldo Disponível:</strong> R$ {{ '{:,.2f}'.format(user['saldo']) }}</p>
        <p><strong>Investimento Atual:</strong> R$ {{ '{:,.2f}'.format(user['investimento']) }}</p>
    </div>
<!-- Formulário de investimento -->
<form method="POST" action="{{ url_for('investimento') }}">
    <label for="valor">Valor para investir:</label>
    <input type="text" id="valor" name="valor" required>
    
    <!-- Botão de submit com espaçamento -->
     <div class ="form-group">
        <button type="submit" style="margin-top: 10px;">Investir</button>
    </div>   
</form>
    <!-- Botão de voltar -->
    <a href="{{ url_for('conta') }}" class="back-button">Voltar</a>
</div>
{% endblock %}
